@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

a > .b-signature,
a > .p-signature {
	display: none;
}

a:hover > .b-signature {
	display: block;
	position: absolute;
	border: 1px solid orangered;
}

a:hover > .p-signature {
	display: block;
	position: absolute;
	border: 1px solid orangered;
	right: 50px;
}