.addForm input,
.addForm textarea,
.addForm button,
.addForm select {
	margin-bottom: 15px;
	background: transparent;
	border-radius: 3px;
	/* text-transform: lowercase; */
	outline: none;
}

.addForm select {
	padding: 8px 15px;
	height: 35px;
}

.addForm input {
	padding: 8px 15px;
	height: 35px;
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  margin: 5px 1px 3px 0px;
  border: 1px solid steelblue;
}

.addForm textarea {
	padding: 10px 15px;
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  margin: 5px 1px 3px 0px;
  border: 1px solid steelblue;
}

.addForm input::placeholder,
.addForm textarea::placeholder {
	color: steelblue;
	opacity: 0.5;
}

.addForm input:focus,
.addForm textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.addForm button {
	height: 55px;
	padding: 8px 15px;
	color: white;
	background:orangered;
	width: 500px;
	margin: 50px auto 0;
	cursor: pointer;
	text-transform: uppercase;
	border: 1px solid orangered;
}

.addForm button:hover {
	background: rgb(201, 93, 53);
	border: 1px solid rgb(201, 93, 53);
}